body{
    background: #E5E5E5;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
}

header{
    background-image: url(https://66.media.tumblr.com/5c5b619d0f127555ae710c7d400e6434/tumblr_nlyk4ce7jO1tgxg44o6_1280.png);
    position: absolute;
    width: 1245px;
    height: 400px;
    left: 20px;
    top: 50px;
    border-radius: 15px;
}

h1{
    position: absolute;
    top:500px;
    left: 335px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: #424242;
}

.box-two {
    position: absolute;
    width: 598px;
    height: 304px;
    left: 45px;
    top: 65px;
    background: #FFFFFF;
    border-radius: 15px;
}

.encode {
    position: absolute;
    width: 550px;
    height: 40px;
    left: 22px;
    top: 74px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
}

.key{

    position: absolute;
    width: 141px;
    height: 40px;
    left: 22px;
    top: 150px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
}

.encode-btn {
    position: absolute;
    width: 132px;
    height: 40px;
    left: 438px;
    top: 150px;
    background: #F8ABC7;
    border-radius: 3px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.first-mensenger {
    position: absolute;
    width: 500px;
    height: 24px;
    left: 22px;
    top: 232px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgb(131, 127, 127);
}

.one{
    position: absolute;
    width: 200px;
    height: 24px;
    left: 22px;
    top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}

.two {
    position: absolute;
    width: 81px;
    height: 24px;
    left: 22px;
    top: 110px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}

.three{
    position: absolute;
    width: 81px;
    height: 24px;
    left: 22px;
    top: 192px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}

.box-three {
    position: absolute;
    width: 590px;
    height: 304px;
    left: 670px;
    top: 65px;
    background: #FFFFFF;
    border-radius: 15px;
    
}
.decode {
    position: absolute;
    width: 550px;
    height: 40px;
    left: 22px;
    top: 74px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
}

.key-two {
    position: absolute;
    width: 141px;
    height: 40px;
    left: 22px;
    top: 150px;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 3px;
}

.decode-btn {
    position: absolute;
    width: 132px;
    height: 40px;
    left: 438px;
    top: 150px;
    background: #F8ABC7;
    border-radius: 3px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.second-mensenger {
    position: absolute;
    width: 500px;
    height: 24px;
    left: 22px;
    top: 232px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: rgb(131, 127, 127);
}

.four {
    position: absolute;
    width: 200px;
    height: 24px;
    left: 22px;
    top: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}

.five {
    position: absolute;
    width: 81px;
    height: 24px;
    left: 22px;
    top: 110px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}

.six {
    position: absolute;
    width: 81px;
    height: 24px;
    left: 22px;
    top: 192px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #000000;
}

fieldset {
    position: absolute;
    width: 1267px;
    height: 432px;
    left: -10px;
    top: 600px;
    background: #FFD9D9;
    box-shadow: none;
    border: 0px;
}

 footer {
     background-color:#FFD9D9;
     text-align: center;
     color: #000000;
     position: relative;
     height: 22px;
     top: 1000px;
 }